@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  user-select: none;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  max-width: 1990px;
  height: auto;
  position: relative;
}

.travelPoint-box {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  z-index: 1054;
}

.travelPoint-box:hover {
  transform: translateY(-5px);
  border-bottom: 2px solid #FF5722;
}

.effectFade {
  width: 100%;
  z-index: -1;
  height: 500px;
  background: linear-gradient(142deg, #ee3e09bb 0%, #ff562249 0%, rgba(197, 130, 85, 0.007) 34%);
}


.vector-img-1 {
  transform: rotate(3deg);
  left: -3%;
  top: 42px;

}

.vector-img-2 {
  transform: rotate(-4deg);
  left: 28%;
  top: 14px;
  z-index: 1;
}

.vector-img-3 {
  transform: rotate(16.4deg);
  right: -10%;
  bottom: -16px;
}

.serviceCardContainer::-webkit-scrollbar,
.destinationScroller::-webkit-scrollbar {
  width: 0px;
}

.serviceCardContainer::-webkit-scrollbar-thumb,
.destinationScroller::-webkit-scrollbar-thumb {
  width: 0px;
  height: 0px;
  display: none;
}

.heromain-img {
  animation: upDown 2.5s linear infinite;
}



@keyframes upDown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.testimonialsContainer {
  background-image: url('../public/testmonials-img-back.svg');
  background-position: 0px -220px;
  background-size: cover;
}


/* loader */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(255, 255, 255, 0.521);
  backdrop-filter: blur(10px);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  left: 0;
  right: 0;
}

.loader {
  width: 70px;
  height: 70px;
  position: relative;
}

.loader:before {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid #ff5b23;
  position: absolute;
  top: 0;
  left: 0;
  animation: pulse 1s ease-in-out infinite;
}

.loader:after {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #f85e9f;
  position: absolute;
  top: 0;
  left: 0;
  animation: spin 2s linear infinite;
}

.loader-text {
  font-size: 24px;
  margin-top: 20px;
  color: #007bff;
  font-family: Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

@keyframes pulse {
  0% {
    transform: scale(0.6);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0;
  }

  100% {
    transform: scale(0.6);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.content {
  display: none;
}

.loaded .loader-container {
  display: none;
}

.loaded .content {
  display: block;
}

/* loader end */
